BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Line breaking
ColumnLimit: 120
# BreakBeforeBraces: Linux
AlignAfterOpenBracket: BlockIndent
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLoopsOnASingleLine: false

# Pointers & references
# PointerAlignment: Left
# ReferenceAlignment: Left

# Includes
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^<.*>'
    Priority: 2
  - Regex: '.*'
    Priority: 3

# Spaces
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false

# Misc
IndentCaseLabels: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
